<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
        
        tr:hover {background-color: #808080;}
        </style>
</head>
<body>
    <div class="topnav">
        <a  class="active" href="/">Home</a>
        <a href="/create_a_user">Create</a>
        <a href="/read_user">Read</a>
        <a href="#about">About</a>
      </div>
      <div>
        <table>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>City</th>
            </tr>
            <%for (let i=0 ; i < listUser.length ; i++) { %>
            <tr>
              <td><%= listUser[i].id %></td>
              <td><%= listUser[i].email %></td>
              <td><%= listUser[i].name %></td>
              <td><%= listUser[i].city %></td>
              <td>
                <a href="/update_a_user/<%=listUser[i].id%>">Edit</a>
                <form action="/delete_a_user/<%=listUser[i].id%>" method="post">
                  <button>Delete</button>
                </form>
            </td>
            </tr>
            <% } %>
          </table>
          
      </div>
</body>
</html>
